body{
    background-color: #000000;
    max-width: 1440px;
    width: 95%;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 80px;
}
.logo{
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.nav-links li{
    list-style-type: none;
    font-family: "Source Code Pro", monospace;
    font-size: 16px;
    color: inherit;
}
.nav-links ul{
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.nav-links a {
    text-decoration: none; 
    transition: color 0.3s ease;
    color: white;
}
.nav-links a:hover {
    color: #ff6347; 
}
.logo:hover{
    color: #ff6347; 
    cursor: pointer;
}
.nav-links{
    display: flex;
    flex-direction: row;    
    gap: 35px;
    margin-top: 15px;
}
.menu-img{
    margin-top: 15px;
}
.main-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}
.heading{
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 44px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 60px;
}
.heading-paragraph{
    color: white;
    font-family: "Source Code Pro", monospace;
    line-height: 34px;
    font-size:22px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
}
.heading-img{
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}
.heading-img .image {
    background-image: url('../images/mtfuji.png');
    background-size: cover;
    background-position: center;
    width: 864px;
    height: 486px;
}
@media screen and (max-width: 768px){
    .heading{
        font-size: 32px;
    }
    .image{
        background-image: url('../images/mtfujitablet.png');
        background-size: cover;
        background-position: center;
    }
    .heading-paragraph{
        font-size: 18px;
        line-height: 25px;
    }
}
@media screen and (max-width: 360px)
{
    .heading-paragraph{
        font-size: 15px;
        line-height: 20px;
    }
    .heading{
        font-size: 20px;}
    .image{
        background-image: url('../images/mtfujimobile.png');
        background-size: cover;
        background-position: center;
    }
    .nav-links ul{
        display: none;
    }
    .navbar{
        gap: 30px;
        padding: 20px 40px;
    }
}